#meow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

#meow svg {
  width: 70%;
}

@media (max-width: 900px) {
  #meow svg {
    width: 90%;
  }
  #meow {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
