.grid-sitting-cats {
  display: grid;
  max-width: 1200px;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
}

#section1 {
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section1 svg {
  width: 70%;
}

.cat1 {
  grid-column-start: 2;
  grid-column-end: 6;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat2 {
  grid-column-start: 8;
  grid-column-end: 12;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  #section1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .cat1 {
    grid-column-start: 3;
    grid-column-end: 11;
  }

  .cat2 {
    grid-column-start: 3;
    grid-column-end: 11;
  }
}
