#section1 {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#section1 svg {
  width: 70%;
}

#section1 div {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
