body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 7rem;
  font-weight: 900;
  margin-block-end: 0em;
  margin-block-start: 0em;
}

h3 {
  font-size: 4rem;
  margin-block-end: 0em;
  margin-block-start: 0em;
  font-weight: 500;
}

#header svg {
  width: 30%;
}

#header {
  display: flex;
  justify-content: space-evenly;
  height: 80vh;
  align-items: center;
  width: 100vw;
}
